<div class="row">
  <!-- left section -->
  <div class="col-md-8">
      <div class="page-header">
          <h1><i class="fa fa-home"></i> Bienvenido</h1>
      </div>
      <hr>
      <span class="alert alert-info my-2" role="alert">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, consequuntur!
      </span>

      <table class="table table-striped my-5">
          <thead>
              <tr>
                  <th>Entradas</th>
                  <th>Fecha</th>
                  <th>Usuario</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>Mi hijo no se despega del celular</td>
                  <td>7 de julio 2019</td>
                  <td>Miranda</td>
              </tr>
              <tr class="active">
                  <td>Mi hijo no se despega del celular</td>
                  <td>7 de julio 2019</td>
                  <td>Miranda</td>
              </tr>
              <!--Denbver-->
              <tr>
                  <td>Mi hijo no se despega del celular</td>
                  <td>7 de julio 2019</td>
                  <td>Miranda</td>
              </tr>
              <tr class="active">
                  <td>Mi hijo no se despega del celular</td>
                  <td>7 de julio 2019</td>
                  <td>Miranda</td>
              </tr>
              <!--Denver-->
              <tr>
                  <td>Mi hijo no se despega del celular</td>
                  <td>7 de julio 2019</td>
                  <td>Miranda</td>
              </tr>
              <tr class="active">
                  <td>Mi hijo no se despega del celular</td>
                  <td>7 de julio 2019</td>
                  <td>Miranda</td>
              </tr>
              <!--washington-->
              <tr>
                  <td>Mi hijo no se despega del celular</td>
                  <td>7 de julio 2019</td>
                  <td>Miranda</td>
              </tr>
              <tr class="active">
                  <td>Mi hijo no se despega del celular</td>
                  <td>7 de julio 2019</td>
                  <td>Miranda</td>
              </tr>
              <!--washington-->
              <tr>
                  <td>Mi hijo no se despega del celular</td>
                  <td>7 de julio 2019</td>
                  <td>Miranda</td>
              </tr>
              <tr class="active">
                  <td>Mi hijo no se despega del celular</td>
                  <td>7 de julio 2019</td>
                  <td>Miranda</td>
              </tr>
              <!--washington-->
          </tbody>
      </table>
  </div>

  <!-- right section -->
  <div class="col-md-4">
      <!-- Featured card -->
      <app-news-card></app-news-card>
  </div>
</div>