<div class="card card-info">
  <div class="card-header">
      <h4>Categorias</h4>
  </div>
  <div class="card-body">
      <div class="single category">
          <ul class="list-unstyled">
              <li><a href="" title="">Niños <span class="pull-right">13</span></a></li>
              <li><a href="" title="">Tecnologia <span class="pull-right">13</span></a></li>
              <li><a href="" title="">Television <span class="pull-right">13</span></a></li>
              <li><a href="" title="">Comida <span class="pull-right">13</span></a></li>
              <li><a href="" title="">Intereses <span class="pull-right">13</span></a></li>
              <li><a href="" title="">Interaccion <span class="pull-right">13</span></a></li>
          </ul>
      </div>


  </div>
</div>
<!-- Newsletter card -->
<div class="card card-success my-5">
  <div class="card-header">
      <h4>Noticias</h4>
  </div>
  <div class="card-body">
      <p>Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
          anim id est laborum.</p>
  </div>
</div>