<section class="details-card contenido">
  <div class="container">
      <div class="row">
          <div class="col-md-4 my-2">
              <div class="card-content">
                  <div class="card-img">
                      <img src="assets/imagenes/a1.jpg" alt="">
                      <span>
                          <h4>publicacion</h4>
                      </span>
                  </div>
                  <div class="card-desc">
                      <h3>Publicacion</h3>
                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum!
                          Dolor
                          quo, perspiciatis
                          voluptas totam</p>
                      <a href="#" class="btn-card">Leer</a>
                  </div>
              </div>
          </div>
          <div class="col-md-4 my-2">
              <div class="card-content">
                  <div class="card-img">
                      <img src="assets/imagenes/a2.jpg" alt="">
                      <span>
                          <h4>publicacion2</h4>
                      </span>
                  </div>
                  <div class="card-desc">
                      <h3>Publicacion2</h3>
                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum!
                          Dolor
                          quo, perspiciatis
                          voluptas totam</p>
                      <a href="#" class="btn-card">Leer</a>
                  </div>
              </div>
          </div>
          <div class="col-md-4 my-2">
              <div class="card-content">
                  <div class="card-img">
                      <img src="https://placeimg.com/380/230/tech" alt="">
                      <span>
                          <h4>publicacion3</h4>
                      </span>
                  </div>
                  <div class="card-desc">
                      <h3>Publicacioin3</h3>
                      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum!
                          Dolor
                          quo, perspiciatis
                          voluptas totam</p>
                      <a href="#" class="btn-card">Leer</a>
                  </div>
              </div>
          </div>
          <div class="col-md-4 my-2">
            <div class="card-content">
                <div class="card-img">
                    <img src="https://placeimg.com/380/230/tech" alt="">
                    <span>
                        <h4>publicacion3</h4>
                    </span>
                </div>
                <div class="card-desc">
                    <h3>Publicacioin3</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum!
                        Dolor
                        quo, perspiciatis
                        voluptas totam</p>
                    <a href="#" class="btn-card">Leer</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 my-2">
          <div class="card-content">
              <div class="card-img">
                  <img src="https://placeimg.com/380/230/tech" alt="">
                  <span>
                      <h4>publicacion3</h4>
                  </span>
              </div>
              <div class="card-desc">
                  <h3>Publicacioin3</h3>
                  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum!
                      Dolor
                      quo, perspiciatis
                      voluptas totam</p>
                  <a href="#" class="btn-card">Leer</a>
              </div>
          </div>
      </div>
      </div>
  </div>
</section>