/* You can add global styles to this file, and also import other style files */
body{
    background:#EDEDEE;
  }

  .autismo{
    background-color: #81bffe;
}

.main-container{
    margin-top: 15px;
    margin-bottom: 10px;
}